// pages/_home.scss 

$home--background-color: black;
// hsl(220, 15%, 55%)

// components/_card.scss  

$card--background-color: hsl(0, 0%, 100%);
$text--content-color: hsl(212, 45%, 89%);
$text--header-color: hsl(218, 44%, 22%);
$text--size-header: 1em;
$text--size-body: 0.7em;
$text--ff-main: 'Outfit', sans-serif;