html * {
    line-height: 1.5;
}

body {
    background-color: $color__primary-cyan;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3.35em;
}

h2 {
    font-size: clamp(2.5em, 3vw, 3.5em);
    line-height: 1.15;
}