/*=============================*/
/*           COLOURS           */
/*=============================*/
/*=============================*/
/*            FONTS            */
/*=============================*/
/*=============================*/
/*         BREAKPOINTS         */
/*=============================*/
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

header > nav {
  position: fixed;
  min-width: 100%;
  z-index: 10;
}

header > nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0.5em 2em;
}
header > nav ul > li.nav__site-logo {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.75em;
  font-weight: 800;
}
header > nav ul > span {
  display: flex;
}
header > nav ul > span li {
  margin: 1em 1.5em;
}
header > nav ul a {
  text-decoration: none;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.1em;
}
header > nav ul a.anchor__cta {
  color: black;
  background-color: white;
  border-radius: 2em;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 1em;
}
header > nav ul a:not(.anchor__cta):hover {
  padding-bottom: 0.1em;
  border-bottom: 2px solid white;
}
header > nav ul a.anchor__cta:hover {
  filter: brightness(98%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-height: 90vh;
}
main h1 {
  font-family: "Fraunces", serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15em;
  color: white;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
}
main img {
  z-index: -1;
}
@media (max-width: 1440px) {
  main {
    justify-content: flex-end;
  }
}

section#about > ul {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "grid__cell-1 grid__cell-2" "grid__cell-3 grid__cell-4" "grid__cell-5 grid__cell-6";
}
section#about > ul .grid__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 0 22.5%;
  height: 100%;
}
section#about > ul .grid__text h2 {
  font-family: "Fraunces", serif;
  font-weight: 800;
  color: #232f3e;
}
section#about > ul .grid__text p {
  font-family: "Barlow", sans-serif;
  color: #232f3e;
  opacity: 0.6;
  font-weight: 400;
  margin: 2em 0;
}
section#about > ul .grid__text a {
  text-decoration: none;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  z-index: 1;
  color: black;
}
section#about > ul .grid__text a::before {
  position: absolute;
  content: "";
  width: 110%;
  height: 0.5em;
  border-radius: 2em;
  opacity: 0.3;
  margin-top: 1em;
  z-index: -1;
  left: -5%;
}
section#about > ul .grid__text a:hover::before {
  opacity: 1;
}
section#about > ul .grid__img img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
section#about > ul li:nth-of-type(1) {
  grid-area: grid__cell-1;
}
section#about > ul li:nth-of-type(1) .grid__text h2::selection,
section#about > ul li:nth-of-type(1) .grid__text p::selection,
section#about > ul li:nth-of-type(1) .grid__text a::selection {
  background-color: #ffe866;
}
section#about > ul li:nth-of-type(1) .grid__text a::before {
  background-color: #ffe866;
}
section#about > ul li:nth-of-type(2) {
  grid-area: grid__cell-2;
}
section#about > ul li:nth-of-type(3) {
  grid-area: grid__cell-3;
}
section#about > ul li:nth-of-type(4) {
  grid-area: grid__cell-4;
}
section#about > ul li:nth-of-type(4) .grid__text h2::selection,
section#about > ul li:nth-of-type(4) .grid__text p::selection,
section#about > ul li:nth-of-type(4) .grid__text a::selection {
  background-color: #fe7867;
}
section#about > ul li:nth-of-type(4) .grid__text a::before {
  background-color: #fe7867;
}
section#about > ul li:nth-of-type(5),
section#about > ul li:nth-of-type(6) {
  position: relative;
}
section#about > ul li:nth-of-type(5) .grid__text,
section#about > ul li:nth-of-type(6) .grid__text {
  position: absolute;
  bottom: 0;
}
section#about > ul li:nth-of-type(5) {
  grid-area: grid__cell-5;
}
section#about > ul li:nth-of-type(5) .grid__text {
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 6%;
}
section#about > ul li:nth-of-type(5) .grid__text h2 {
  color: #25564b;
  text-transform: capitalize;
}
section#about > ul li:nth-of-type(5) .grid__text p {
  color: #458c7e;
  opacity: 1;
}
section#about > ul li:nth-of-type(6) {
  grid-area: grid__cell-6;
}
section#about > ul li:nth-of-type(6) .grid__text {
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-bottom: 6%;
}
section#about > ul li:nth-of-type(6) .grid__text h2 {
  color: #19536b;
}
section#about > ul li:nth-of-type(6) .grid__text p {
  color: #19536b;
  opacity: 1;
}
@media (max-width: 1440px) {
  section#about > ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "grid__cell-2" "grid__cell-1" "grid__cell-3" "grid__cell-4" "grid__cell-5" "grid__cell-6";
  }
  section#about > ul .grid__text {
    align-items: center;
    text-align: center;
    padding: 15% 5.5%;
  }
}

section#testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8%;
}
section#testimonials h2 {
  font-family: "Fraunces", serif;
  font-size: clamp(1.2em, 1.4vw, 1.6em);
  color: black;
  opacity: 0.3;
  font-weight: 800;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 4em;
}
@media (max-width: 1440px) {
  section#testimonials {
    padding: 20% 0;
  }
}

section#testimonials ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
section#testimonials ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#testimonials ul li figure img {
  border-radius: 50%;
  width: 6em;
}
section#testimonials ul li figure blockquote {
  font-family: "Barlow", sans-serif;
  color: black;
  opacity: 0.6;
  margin: 1em 0;
  padding: 1em;
}
section#testimonials ul li figure figcaption h4 {
  font-family: "Fraunces", serif;
  font-weight: 800;
  font-size: clamp(1.3em, 1.4vw, 1.5em);
  color: #232f3e;
  margin-bottom: 0.3em;
}
section#testimonials ul li figure figcaption h5 {
  font-family: "Barlow", sans-serif;
  font-size: clamp(1em, 1vw, 1.4em);
  opacity: 0.3;
}
@media (max-width: 1440px) {
  section#testimonials ul {
    flex-direction: column;
  }
  section#testimonials ul li:nth-of-type(2) {
    margin: 4em 0;
  }
}

html * {
  line-height: 1.5;
}

body {
  background-color: #3EC0FF;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: clamp(2.5em, 4vw, 4.5em);
}

h2 {
  font-size: clamp(2.3em, 3vw, 3.5em);
  line-height: 1.15;
}

p, blockquote {
  font-size: clamp(1.2em, 1.2vw, 1.55em);
}

/*# sourceMappingURL=main.css.map */
