section#about > ul {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'grid__cell-1 grid__cell-2'
                         'grid__cell-3 grid__cell-4'
                         'grid__cell-5 grid__cell-6';

    .grid__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        padding: 0 22.5%;
        height: 100%;
                
        h2 {
            font-family: $font__family-fraunces;
            font-weight: 800;
            color: $color__neutral-very-dark-gray-blue;
        }

        p {
            font-family: $font__family-barlow;
            color: $color__neutral-very-dark-gray-blue;
            opacity: 0.6;
            font-weight: 400;
            margin: 2em 0;
        }

        a {
            text-decoration: none;
            font-family: $font__family-fraunces;
            text-transform: uppercase;
            font-weight: 800;
            position: relative;
            z-index: 1;
            color: black;
        }

        a::before {
            position: absolute;
            content: '';
            width: 110%;
            height: 0.5em;
            border-radius: 2em;
            opacity: 0.3;
            margin-top: 1em;
            z-index: -1;
            left: -5%;
        }

        a:hover::before {
            opacity: 1;
        }
    }

    .grid__img {
        img {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }

    li:nth-of-type(1) {
        grid-area: grid__cell-1;

        .grid__text {
            h2::selection,
            p::selection,
            a::selection {
                background-color: $color__primary-yellow;
            }

            a::before {
                background-color: $color__primary-yellow;
            }
        }
    }
    
    li:nth-of-type(2) {
        grid-area: grid__cell-2;
    }

    li:nth-of-type(3) {
        grid-area: grid__cell-3;
    }

    li:nth-of-type(4) {
        grid-area: grid__cell-4;

        & .grid__text {
            h2::selection,
            p::selection,
            a::selection {
                background-color: $color__primary-soft-red;
            }

            a::before {
                background-color: $color__primary-soft-red;
            }
        }
    }

    li:nth-of-type(5),
    li:nth-of-type(6) {
        position: relative;

        .grid__text {
            position: absolute;
            bottom: 0;
        }
    }

    li:nth-of-type(5) {
        grid-area: grid__cell-5;

        .grid__text {
            align-items: center;
            justify-content: flex-end;
            text-align: center;
            padding-bottom: 6%;
            
            h2 {
                color: $color__primary-dark-cyan;
                text-transform: capitalize;
            }

            p {
                color: $color__primary-moderate-cyan;
                opacity: 1;
            }
        }
    }

    li:nth-of-type(6) {
        grid-area: grid__cell-6;

        .grid__text {
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            padding-bottom: 6%;

            h2 {
                color: $color__primary-dark-blue;
            }

            p {
                color: $color__primary-dark-blue;
                opacity: 1;
            }
        }
    }

    @media (max-width: $breakpoint__desktop) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 'grid__cell-2'
                             'grid__cell-1'
                             'grid__cell-3'
                             'grid__cell-4'
                             'grid__cell-5'
                             'grid__cell-6';

        .grid__text {
            align-items: center;
            text-align: center;
            padding: 15% 5.5%;
        }
    }
}

