section#about > ul {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'text-1 img-1'
                         'img-2  text-2';


    .grid__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        padding: 0 20%;
                
        h2 {
            font-family: $font__family-fraunces;
            font-weight: 800;
        }

        p {
            font-family: $font__family-barlow;
            font-size: clamp(1.1em, 1.15vw, 1.5em);
            opacity: 0.45;
            margin: 2em 0;
        }

        a {
            text-decoration: none;
            font-family: $font__family-fraunces;
            text-transform: uppercase;
            font-weight: 800;
            position: relative;
            z-index: 1;
            color: black;
        }

        a::before {
            position: absolute;
            content: '';
            width: 110%;
            height: 0.5em;
            border-radius: 2em;
            opacity: 0.3;
            margin-top: 1em;
            z-index: -1;
            left: -5%;
        }

        a:hover::before {
            opacity: 1;
        }
    }

    .grid__text:nth-of-type(1) {
        a::before {
            background-color: yellow;
        }
    }

    .grid__text:nth-of-type(2) {
        a::before {
            background-color: pink;
        }
    }

    .grid__img {
        img {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }

    .section__about-1 {
        grid-area: text-1;
    }

    .section__about-2 {
        grid-area: img-1;
    }

    .section__about-3 {
        grid-area: img-2;
    }

    .section__about-4 {
        grid-area: text-2;
    }

    section {
        min-height: 100%;
        min-width: 100%;
    }

    @media (max-width: $breakpoint__desktop) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'img-1'
                             'text-1'
                             'img-2'
                             'text-2';

        .grid__text {
            align-items: center;
            text-align: center;
            padding: 10%;
        }
    }
}

