main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
        font-family: $font__family-fraunces;
        font-size: 3.35em;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: white;
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        z-index: -1;
    }
}