main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;

    h1 {
        font-family: $font__family-fraunces;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.15em;
        color: white;
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        z-index: -1;
    }

    @media (max-width: $breakpoint__desktop) {
        justify-content: flex-end;
    }
}